@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.type-writer strong {
  color: #5abfe8;
  font-size: 64px;
  font-weight: 700;
  white-space: nowrap;
}
.type-writer span {
  color: white;
  font-size: 64px;
  font-weight: 700;
  white-space: nowrap;
}
.type-writer-features strong {
  color: #053a47;
}
.type-writer-features span {
  color: #5abfe8;
}
.why-choose-us--slider .slick-list {
  padding: 0 40px 0 40px;
}
.asset-slider-list .swiper {
  /* padding: 0 40px 0 40px; */
  padding: 0 240px 0 0;
}
.custommer-review-swiper .swiper {
  padding: 0 120px 0 0;
}
